[build]
  command = "pnpm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"
  PNPM_FLAGS = "--no-frozen-lockfile"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200
